In [1]:
import warnings
warnings.filterwarnings('ignore') #ignore those pesky warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr


%matplotlib inline
%config Completer.use_jedi = False

import warnings
pd.set_option('display.float_format', lambda x: '%.5f' % x) # To supress numerical display in scientific notations

In [2]:
data = pd.DataFrame({"Col1": [100,200,300,400], "Col2":[500,600,700,800], "Col3":[900,1000,1100,1200], "Col4":["Nature","Wildlife","Animals","Humans"]})

In [3]:
data

   Col1  Col2  Col3      Col4
0   100   500   900    Nature
1   200   600  1000  Wildlife
2   300   700  1100   Animals
3   400   800  1200    Humans

In [4]:
data['Col4'].str.endswith('s').sum()

2

In [5]:
data["Col4"].str.upper()

0      NATURE
1    WILDLIFE
2     ANIMALS
3      HUMANS
Name: Col4, dtype: object

In [6]:
import pandas as pd

In [8]:
df = pd.DataFrame({'A': ['m', 'f', 'm'], 'B': ['b', 'a', 'c'],'Age': [11, 12, 13]})

In [9]:
pd.get_dummies(df)

   Age  A_f  A_m  B_a  B_b  B_c
0   11    0    1    0    1    0
1   12    1    0    1    0    0
2   13    0    1    0    0    1